#### ANOVA More than two sample comparisons

In [1]:
import pandas as pd
df = pd.read_csv('anova.csv')

In [2]:
df.head(2)

    SL   CLQ
0  SL1  21.0
1  SL1  27.7

In [3]:
from scipy.stats import f_oneway

```
H0: Mean 1 = Mean 2 = Mean 3 =...=Mean N

Ha: Atleast one pair is different

```

In [4]:
groups = []
for level in df.SL.unique():
    vals = df[df['SL']==level]['CLQ'].values
    groups.append(vals)

In [5]:
f_oneway(groups[0],groups[1],groups[2],groups[3])

F_onewayResult(statistic=46.6347776805843, pvalue=3.263604278259159e-09)

```Conclusion
P-value is very small so we reject the H0
```