In [1]:
import pandas as pd
from scipy.stats import f_oneway

In [2]:
df = pd.read_csv("car_data.csv")
df.head(2)

   Brands  Mileage
0  Apollo   32.998
1  Apollo   36.435

In [3]:
### Mileage and Brand
groups = []
for brand in df.Brands.unique():
    groups.append(df[df.Brands==brand]['Mileage'])

```
H0: Mileage and Car brand are not related
Ha: Mileage and Car brand are related
```

In [4]:
f_oneway(groups[0],groups[1],groups[2],groups[3])

F_onewayResult(statistic=17.941513342446925, pvalue=2.78098919789432e-08)

``` Conclusion
Computed p-value is very small so we reject the H0
````

In [5]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [6]:
tukey = pairwise_tukeyhsd(endog=df['Mileage'],
                          groups=df['Brands'],
                          alpha=0.05)

In [7]:
print(tukey)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
   group1      group2   meandiff p-adj   lower   upper  reject
--------------------------------------------------------------
     Apollo Bridgestone   -3.019 0.0021 -5.1288 -0.9092   True
     Apollo        CEAT  -0.0379    1.0 -2.1477  2.0719  False
     Apollo      Falken   2.8255 0.0043  0.7157  4.9354   True
Bridgestone        CEAT   2.9811 0.0024  0.8713  5.0909   True
Bridgestone      Falken   5.8445    0.0  3.7347  7.9544   True
       CEAT      Falken   2.8635 0.0037  0.7536  4.9733   True
--------------------------------------------------------------

```Conclusion
There is a difference in mileage between

- Apollo and Bridgestone
- Apollo and Falken
- Bridgestone and CEAT
- Bridgestone and Falken
- CEAT and Falken

```