**package dependencies**
- pandas=1.4.3
- sklearn=1.1.1
- matplotlib=3.5.2
- jupyterlab=3.4.3
- python=3.9.13

In [2]:
import pandas as pd
df=pd.read_csv('hmeq.csv')
df.head(2)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN

**Data**

- BAD: 1 = client defaulted on loan 0 = loan repaid
- LOAN: Amount of the loan request
- MORTDUE: Amount due on existing mortgage
- VALUE: Value of current property
- REASON: DebtCon = debt consolidation HomeImp = home improvement
- JOB: Six occupational categories
- YOJ: Years at present job
- DEROG: Number of major derogatory reports
- DELINQ: Number of delinquent credit lines
- CLAGE: Age of oldest trade line in months
- NINQ: Number of recent credit lines
- CLNO: Number of credit lines
- DEBTINC: Debt-to-income ratio

In [3]:
df.isnull().sum()

BAD           0
LOAN          0
MORTDUE     518
VALUE       112
REASON      252
JOB         279
YOJ         515
DEROG       708
DELINQ      580
CLAGE       308
NINQ        510
CLNO        222
DEBTINC    1267
dtype: int64

In [4]:
df_na = df.dropna()

In [6]:
clust_var=["LOAN","MORTDUE","VALUE","YOJ","DEROG","DELINQ","CLAGE","NINQ","CLNO","DEBTINC"]

In [8]:
data_clust=df_na[clust_var]

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scale = StandardScaler()

In [11]:
scaled_df = scale.fit_transform(data_clust)

In [12]:
from sklearn.cluster import KMeans

In [13]:
mod = KMeans(n_clusters=4)

In [14]:
mod = mod.fit(scaled_df)

In [19]:
df_na['cluster_4'] = mod.labels_

/var/folders/7h/01sjg2sx6tl3y72r2klm24c80000gn/T/ipykernel_3931/4062743754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na['cluster_4'] = mod.labels_

In [20]:
df_na.head(2)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC,cluster_4
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614,1
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894,1

In [21]:
df_na.groupby('cluster_4').mean()

,BAD,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
cluster_4,,,,,,,,,,,
0,0.066667,29766.821705,140754.069767,187475.075969,8.021705,0.063566,0.144186,216.600951,0.973643,27.770543,37.048343
1,0.086236,16199.543118,62002.008567,86519.989149,5.432895,0.043975,0.139349,144.058261,1.038835,19.232439,33.438891
2,0.380090,16520.814480,63847.678733,91367.900452,8.185520,1.542986,2.022624,169.492425,1.606335,26.497738,34.539121
3,0.029451,17696.519411,57619.140562,92402.183400,18.943775,0.046854,0.206158,240.229317,0.921017,22.688086,33.133645

In [23]:
df_na.mean()

/var/folders/7h/01sjg2sx6tl3y72r2klm24c80000gn/T/ipykernel_3931/751415334.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_na.mean()

BAD               0.089180
LOAN          19154.399524
MORTDUE       76249.621581
VALUE        107501.385850
YOJ               9.110285
DEROG             0.146849
DELINQ            0.278835
CLAGE           180.993684
NINQ              1.037455
CLNO             22.114150
DEBTINC          34.135451
cluster_4         1.318074
dtype: float64

**Profiles**
- Cluster 0 and 1 have average bad rate. Cluster 0 is characterized by high loan amount mortgage due and debt to income ratio
- Custer 2 is high risk cluster, this has above average delinquent credit lines.
- Cluster 3 is low risk cluster with above average years on job and age of oldest trade line in months