In [1]:
import pandas as pd
df = pd.read_csv("./data/bank_transactions.csv")

In [2]:
df.head(2)

,ATM Name,Transaction Date,No Of Withdrawals,No Of XYZ Card Withdrawals,No Of Other Card Withdrawals,Total amount Withdrawn,Amount withdrawn XYZ Card,Amount withdrawn Other Card,Weekday,Festival Religion,Working Day,Holiday Sequence
0,Big Street ATM,1/1/2011,50,20,30,123800,41700,82100,Saturday,H,H,WHH
1,Mount Road ATM,1/1/2011,253,67,186,767900,270900,497000,Saturday,C,H,WHH

In [5]:
df['ATM Name'].unique()

array(['Big Street ATM', 'Mount Road ATM', 'Airport ATM', 'KK Nagar ATM',
       'Christ College ATM'], dtype=object)

In [10]:
round(df[df['ATM Name']=='Mount Road ATM']['No Of Withdrawals'].mean())

144

In [8]:
## What are the chances that there will be more than 148 withdrawls in a day for Mount Road ATM

In [19]:
from scipy.stats import binom, poisson
import math
import scipy

In [12]:
round(1-poisson.cdf(147,144),2)

0.38

In [13]:
df[df['ATM Name']=='Mount Road ATM']['Total amount Withdrawn'].mean().round(2)

514833.29

In [34]:
## It is believed that on an average 490000 Rs are withdrawn from the Mount Road ATM daily, is there substantial 
# statistical evidence to the belief or have average daily withdrawls increased? Use a significance level of 5%.

In [14]:
def p_value(pop_mean,sample_mean,sample_stdev,sample_size):
    SE = sample_stdev/math.sqrt(sample_size)
    if pop_mean>sample_mean:
        pval = scipy.stats.norm(pop_mean,SE).cdf(sample_mean)
    else:
        pval = 1-scipy.stats.norm(pop_mean,SE).cdf(sample_mean)
    return pval

In [31]:
pop_mean = 490000
sample_mean = df[df['ATM Name']=='Mount Road ATM']['Total amount Withdrawn'].mean()
sample_stdev = df[df['ATM Name']=='Mount Road ATM']['Total amount Withdrawn'].std()
sample_size = df[df['ATM Name']=='Mount Road ATM']['Total amount Withdrawn'].shape[0]

In [32]:
p_value(pop_mean,sample_mean,sample_stdev,sample_size) ### Reject H0, withdrawls have increased

1.9297584258337608e-06

In [33]:
### Compare the average daily withdrawls on Mount Road ATM vs Big Street ATM for year 2015. Do you find them to be statistically 
## different?

In [48]:
def replace(x):
    return x.replace("-","/")
df['Transaction Date']=df['Transaction Date'].map(replace)

In [49]:
df['Year']=pd.to_datetime(df['Transaction Date'],format="%d/%m/%Y").dt.year

In [50]:
mnt_rd = df[df['ATM Name']=='Mount Road ATM'].query("Year==2015")['Total amount Withdrawn'].values
big_street = df[df['ATM Name']=='Big Street ATM'].query("Year==2015")['Total amount Withdrawn'].values

In [51]:
import scipy.stats as stats

In [52]:
stats.ttest_ind(mnt_rd,
                big_street,equal_var=True) ## pvalue is low so reject

Ttest_indResult(statistic=14.612061019409644, pvalue=2.3454211411114258e-42)

In [56]:
df[df['ATM Name']=='Mount Road ATM']['Total amount Withdrawn'].quantile(0.75)

684350.0

In [57]:
### For the Mount Road ATM, in a month what is the probability that there will be 10 days in which the withdrawl amoiunt 
## will be more than 684350.0?

In [59]:
n = df[df['ATM Name']=='Mount Road ATM']['Total amount Withdrawn'].shape[0]

In [60]:
obs = df[(df['ATM Name']=='Mount Road ATM')&(df['Total amount Withdrawn']>684350)]['Total amount Withdrawn'].shape[0]

In [61]:
p = obs/n

0.25

In [63]:
binom.cdf(10,30,0.25)

0.8942718773073399