In [1]:
import pandas as pd
data = pd.read_csv("stores.csv")
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [2]:
data.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [3]:
data['Order Date'] = pd.to_datetime(data['Order Date'])

In [4]:
data['Order Date'].dt.month

0       11
1       11
2        6
3       10
4       10
        ..
9989     1
9990     2
9991     2
9992     2
9993     5
Name: Order Date, Length: 9994, dtype: int64

In [5]:
data['Order Date'].dt.year

0       2013
1       2013
2       2013
3       2012
4       2012
        ...
9989    2011
9990    2014
9991    2014
9992    2014
9993    2014
Name: Order Date, Length: 9994, dtype: int64

In [9]:
data['Order Date'].dt.isocalendar().week

0       45
1       45
2       24
3       41
4       41
        ..
9989     3
9990     9
9991     9
9992     9
9993    19
Name: week, Length: 9994, dtype: UInt32

In [12]:
data['Order Date'].dt.weekday ## Monday=0, Sunday=6

0       5
1       5
2       3
3       3
4       3
       ..
9989    5
9990    3
9991    3
9992    3
9993    0
Name: Order Date, Length: 9994, dtype: int64

In [13]:
data['Ship Date'] = pd.to_datetime(data['Ship Date'])

In [14]:
data['Order Date'] -  data['Ship Date']

0      -3 days
1      -3 days
2      -4 days
3      -7 days
4      -7 days
         ...
9989   -2 days
9990   -5 days
9991   -5 days
9992   -5 days
9993   -5 days
Length: 9994, dtype: timedelta64[ns]