**Flight Delays**

Load the data set FlightDelays, the data has information on the flights over the year 2004 and if a particular flight was delayed or not.

- Find out the number of delayed flights for all weekdays
- Find the average distance, total distance and count for all delayed flights on Friday.
- Find out how many flights were on time on Week days and Weekends (Consider Saturday and Sunday as weekends)
- Find out the number of flights for each destination across all weekdays
- Find out the number of times weather was bad across all weekdays. (1 indicates bad weather)

In [1]:
import pandas as pd
data = pd.read_csv("flightdelays.csv")
data.head()

,schedtime,carrier,deptime,dest,distance,date,flightnumber,origin,weather,tailnu,delay
0,1455,OH,1455,JFK,184,01-01-2004,5935,BWI,0,N940CA,ontime
1,1640,DH,1640,JFK,213,01-01-2004,6155,DCA,0,N405FJ,ontime
2,1245,DH,1245,LGA,229,01-01-2004,7208,IAD,0,N695BR,ontime
3,1715,DH,1709,LGA,229,01-01-2004,7215,IAD,0,N662BR,ontime
4,1039,DH,1035,LGA,229,01-01-2004,7792,IAD,0,N698BR,ontime

In [2]:
data['date'] = pd.to_datetime(data['date'])

In [4]:
data['dayofweek'] = data['date'].dt.weekday

In [6]:
data.query("dayofweek<5 and delay=='delayed'").shape[0]

336

In [7]:
data.query("delay == 'delayed' and dayofweek==4")['distance'].agg(['mean','sum','size'])

mean      210.28
sum     15771.00
size       75.00
Name: distance, dtype: float64

In [8]:
data.query("delay=='ontime' and dayofweek<5").shape[0]

1362

In [9]:
data.query("delay=='ontime' and dayofweek>=5").shape[0]

411

In [10]:
data.query("dayofweek<5").groupby('dest').agg({'dest':'size'})

      dest
dest
EWR    507
JFK    272
LGA    919

In [12]:
data.query("weather==1 and dayofweek<5").shape[0]

30