**Class Excercise (Joins)**

- Use the files contributions.csv and candidates.csv. The file contributions.csv contains data on contributions made to political parties. The file candidates.csv contains data on the demographics of candidates belonging to different political parties. What was the highest contribution made on a Sunday?

- Use the files contributions.csv and candidates.csv. The file contributions.csv contains data on contributions made to political parties. The file candidates.csv contains data on the demographics of candidates belonging to different political parties. Is there a difference between the average donations received by Democrats on weekdays vs weekends? (In the column party, R stands for Republican and D stands for Democrats)

- Use the files contributions.csv and candidates.csv. The file contributions.csv contains data on contributions made to political parties. The file candidates.csv contains data on the demographics of candidates belonging to different political parties. The highest amount contributed on weekdays towards Democrats is? (In the column party, R stands for Republican and D stands for Democrats)

In [1]:
import pandas as pd
candidates = pd.read_csv('candidates.csv')
contributions = pd.read_csv('contributions.csv')

In [2]:
candidates.head(2)

   id first_name  last_name middle_name party
0  33     Joseph      Biden         NaN     D
1  36     Samuel  Brownback         NaN     R

In [3]:
contributions.head(2)

,id,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
0,NaN,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16
1,NaN,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16

In [4]:
contributions['date'] = pd.to_datetime(contributions['date'])

In [5]:
contributions['dow'] = contributions['date'].dt.weekday

In [6]:
## Q1
contributions.query("dow==6")['amount'].max()

2300.0

In [7]:
joined_table = pd.merge(contributions,candidates,how="inner",left_on = "candidate_id", right_on="id")

In [8]:
joined_table.head(2)

,id_x,last_name_x,first_name_x,middle_name_x,street_1,street_2,city,state,zip,amount,date,candidate_id,dow,id_y,first_name_y,last_name_y,middle_name_y,party
0,NaN,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16,5,16,Mike,Huckabee,NaN,R
1,NaN,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16,2,16,Mike,Huckabee,NaN,R

In [9]:
## weekday (Q2)
joined_table.query("party == 'D' and dow <5")['amount'].mean()

229.18571428571425

In [10]:
## weekend (Q2)
joined_table.query("party == 'D' and dow>=5")['amount'].mean()

431.26125

In [11]:
## Q3
joined_table.query("party == 'D' and dow <5")['amount'].max()

4600.0