In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("stores.csv")
data.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [4]:
data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [5]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [6]:
data['Ship Date'].head()

0    11/12/2013
1    11/12/2013
2     6/17/2013
3    10/18/2012
4    10/18/2012
Name: Ship Date, dtype: object

In [7]:
data[['Ship Date','Region']].head()

    Ship Date Region
0  11/12/2013  South
1  11/12/2013  South
2   6/17/2013   West
3  10/18/2012  South
4  10/18/2012  South

In [8]:
data.iloc[0]

Row ID                                           1
Order ID                            CA-2013-152156
Order Date                               11/9/2013
Ship Date                               11/12/2013
Ship Mode                             Second Class
Customer ID                               CG-12520
Customer Name                          Claire Gute
Segment                                   Consumer
Country                              United States
City                                     Henderson
State                                     Kentucky
Postal Code                                  42420
Region                                       South
Product ID                         FUR-BO-10001798
Category                                 Furniture
Sub-Category                             Bookcases
Product Name     Bush Somerset Collection Bookcase
Sales                                       261.96
Quantity                                         2
Discount                                       0.0
Profit                                     41.9136
Name: 0, dtype: object

In [9]:
data.iloc[0:3]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [10]:
data.shape

(9994, 21)

In [13]:
## Find out how many transactions had segment as Corporate
data[data['Segment']=='Corporate'].shape

(3020, 21)

In [14]:
data.query("Segment=='Corporate'").shape

(3020, 21)

In [15]:
## find how many transactions had Ship model as Second Class
data[data['Ship Mode']=='Second Class'].shape

(1945, 21)

In [16]:
data.query("Ship Mode=='Second Class'").shape

SyntaxError: invalid syntax (<unknown>, line 1)

In [19]:
data = data.rename(columns={'Ship Mode':'Ship_Mode'})

In [20]:
data.query("Ship_Mode=='Second Class'").shape

(1945, 21)

In [23]:
## How many transactions had ship mode as second class and city as henderson?
data.query("Ship_Mode=='Second Class' and City=='Henderson'").shape[0]

20

In [24]:
data[(data['Ship_Mode']=='Second Class')&(data['City']=='Henderson')].shape[0]

20

In [25]:
## Show the category and sub category of all the transactions that had ship mode as second class and city as henderson?
data.query("Ship_Mode=='Second Class' and City=='Henderson'")[['Category','Sub-Category']]

             Category Sub-Category
0           Furniture    Bookcases
1           Furniture       Chairs
2321  Office Supplies      Binders
2322  Office Supplies      Binders
2323  Office Supplies      Binders
2324  Office Supplies      Binders
3088        Furniture  Furnishings
3089       Technology       Phones
4378  Office Supplies    Envelopes
4379  Office Supplies    Envelopes
4430  Office Supplies    Fasteners
4431  Office Supplies          Art
4432        Furniture  Furnishings
4433  Office Supplies          Art
4434        Furniture       Tables
4879  Office Supplies    Envelopes
4880        Furniture       Chairs
4881       Technology  Accessories
4882  Office Supplies      Storage
8639  Office Supplies      Binders