In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cereals.csv')
data.head()

                        Name    Manufacturer  Type  Calories  Fiber  Sugars
0                  100% Bran         Nabisco  Cold        70   10.0       6
1          100% Natural Bran     Quaker Oats  Cold       120    2.0       8
2                   All-Bran       Kellogg's  Cold        70    9.0       5
3  All-Bran with Extra Fiber       Kellogg's  Cold        50   14.0       0
4             Almond Delight  Ralston Purina  Cold       110    1.0       8

1. Group the cereals, using the Manufacturer columnâ€™s values.
- Determine the total number of groups, and the number of cereals per group
2. Extract the cereals that belong to the manufacturer/group "Nabisco"
3. Calculate the average of values in the Calories, Fiber, and Sugars columns for each manufacturer.
4. Find the maximum value in the Sugars column for each manufacturer.

In [3]:
manufacturers = data.groupby("Manufacturer")

In [4]:
len(manufacturers)

7

In [6]:
manufacturers.agg({'Manufacturer':'size'})

                             Manufacturer
Manufacturer
American Home Food Products             1
General Mills                          22
Kellogg's                              23
Nabisco                                 6
Post                                    9
Quaker Oats                             8
Ralston Purina                          8

In [7]:
data[data['Manufacturer']=='Nabisco']

                         Name Manufacturer  Type  Calories  Fiber  Sugars
0                   100% Bran      Nabisco  Cold        70   10.0       6
20     Cream of Wheat (Quick)      Nabisco   Hot       100    1.0       0
63             Shredded Wheat      Nabisco  Cold        80    3.0       0
64     Shredded Wheat 'n'Bran      Nabisco  Cold        90    4.0       0
65  Shredded Wheat spoon size      Nabisco  Cold        90    3.0       0
68    Strawberry Fruit Wheats      Nabisco  Cold        90    3.0       5

In [8]:
manufacturers[['Calories','Fiber','Sugars']].mean()

                               Calories     Fiber    Sugars
Manufacturer
American Home Food Products  100.000000  0.000000  3.000000
General Mills                111.363636  1.272727  7.954545
Kellogg's                    108.695652  2.739130  7.565217
Nabisco                       86.666667  4.000000  1.833333
Post                         108.888889  2.777778  8.777778
Quaker Oats                   95.000000  1.337500  5.250000
Ralston Purina               115.000000  1.875000  6.125000

In [9]:
manufacturers['Sugars'].max()

Manufacturer
American Home Food Products     3
General Mills                  14
Kellogg's                      15
Nabisco                         6
Post                           15
Quaker Oats                    12
Ralston Purina                 11
Name: Sugars, dtype: int64