## Tuples

In [1]:
t1 = (1,2,34,'abc',(5,6,7),[8,9,10])

In [2]:
t1[0]

1

In [3]:
t1[-1]

[8, 9, 10]

In [4]:
for i in t1:
    print(i)

1
2
34
abc
(5, 6, 7)
[8, 9, 10]

In [5]:
l = [1,2,3,4]

In [7]:
l[1]='abc'

In [8]:
t1[0]

1

In [9]:
t1[0]='a'

TypeError: 'tuple' object does not support item assignment