In [1]:
import pandas as pd
all_data = pd.read_csv('global_temp.csv')
recent = pd.read_csv('recent_temp.csv')

Verify using a hypothesis test if the temperature in New Delhi has gone up in the recent years.

The file `global_temp.csv`, contains the average temperature for each city for a period starting from 2018 to 2020.

The file `recent_temp.csv`, contains the temperature data for the year 2021.

In [2]:
all_data.head(2)

        city   avg_temp
0    Sukhumi  15.116536
1  Mariehamn   7.336081

In [3]:
recent.head(2)

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
0,2021-01-01,Abkhazia,Sukhumi,43.001525,41.023415,8.6,5.4,14.9,81.0,9.4,1019.2
1,2021-01-02,Abkhazia,Sukhumi,43.001525,41.023415,8.5,4.0,13.7,47.0,7.7,1024.8

In [7]:
all_data[all_data['city']=='New Delhi']

         city   avg_temp
73  New Delhi  26.133759

In [9]:
recent[recent['city']=='New Delhi']['tavg'].mean()

25.87123287671233

In [11]:
recent[recent['city']=='New Delhi']['tavg'].std()

7.044814932408316

In [12]:
recent[recent['city']=='New Delhi']['tavg'].shape[0]

365

H0: Avg Temp = 26.133759

Ha: Avg Temp < 26.133759

p-value = Pr(Temp<=25..87123287671233)

Standard Deviation of Sampling Distribution = 7.044814932408316/sqrt(365)

In [13]:
import math
import scipy.stats
stdev_samp = 7.044814932408316/math.sqrt(365)

In [16]:
p_value = scipy.stats.norm(26.133759,stdev_samp).cdf(25.87123287671233)

In [17]:
p_value

0.23824793291705038