In [1]:
## EDA Continued
import pandas as pd
df = pd.read_csv('cleaned_bikes.csv')
df.head(2)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,9080545,3/31/2016 23:30,3/31/2016 23:46,2295,15.433333,156,Clark St & Wellington Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0
1,9080521,3/31/2016 22:59,3/31/2016 23:02,3439,3.300000,259,California Ave & Francis Pl,276,California Ave & North Ave,Subscriber,Male,1974.0

In [7]:
def get_route_raw(row):
    frm = row['from_station_name']
    to = row['to_station_name']
    return frm+"-"+to

In [8]:
df['routes_raw']=df.apply(get_route_raw,axis=1)

In [9]:
df.head(2)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,routes_raw
0,9080545,3/31/2016 23:30,3/31/2016 23:46,2295,15.433333,156,Clark St & Wellington Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0,Clark St & Wellington Ave-Ashland Ave & Wright...
1,9080521,3/31/2016 22:59,3/31/2016 23:02,3439,3.300000,259,California Ave & Francis Pl,276,California Ave & North Ave,Subscriber,Male,1974.0,California Ave & Francis Pl-California Ave & N...

In [10]:
df['routes_raw'].value_counts()

Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave       222
Streeter Dr & Grand Ave-Streeter Dr & Grand Ave         171
Lake Shore Dr & North Blvd-Streeter Dr & Grand Ave      144
Streeter Dr & Grand Ave-Theater on the Lake             136
Streeter Dr & Grand Ave-Lake Shore Dr & Monroe St       135
                                                       ...
Clark St & Wellington Ave-Damen Ave & Grand Ave           1
Aberdeen St & Jackson Blvd-Orleans St & Elm St (*)        1
Lincoln Ave & Belmont Ave-Broadway & Waveland Ave         1
Ritchie Ct & Banks St-Sheffield Ave & Wellington Ave      1
Southport Ave & Clybourn Ave-Wood St & Hubbard St         1
Name: routes_raw, Length: 26831, dtype: int64