## Routes by time of day

In [1]:
import pandas as pd
df = pd.read_csv('cleaned_bikes.csv')
df.head(2)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,9080545,3/31/2016 23:30,3/31/2016 23:46,2295,15.433333,156,Clark St & Wellington Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0
1,9080521,3/31/2016 22:59,3/31/2016 23:02,3439,3.300000,259,California Ave & Francis Pl,276,California Ave & North Ave,Subscriber,Male,1974.0

In [2]:
df['starttime'] = pd.to_datetime(df['starttime'])
df['months'] = df['starttime'].dt.month
df['hour'] = df['starttime'].dt.hour
df['dayweek'] = df['starttime'].dt.weekday

In [3]:
def get_route_raw(row):
    frm = row['from_station_name']
    to = row['to_station_name']
    return frm+"-"+to

In [4]:
df['routes_raw']=df.apply(get_route_raw,axis=1)

In [5]:
df['routes_raw'].value_counts().head()

Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave     222
Streeter Dr & Grand Ave-Streeter Dr & Grand Ave       171
Lake Shore Dr & North Blvd-Streeter Dr & Grand Ave    144
Streeter Dr & Grand Ave-Theater on the Lake           136
Streeter Dr & Grand Ave-Lake Shore Dr & Monroe St     135
Name: routes_raw, dtype: int64

In [6]:
### Routes which are popular during weekdays
df.query("dayweek in [0,1,2,3,4]")['routes_raw'].value_counts().head()

Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave     122
Streeter Dr & Grand Ave-Streeter Dr & Grand Ave        93
Streeter Dr & Grand Ave-Theater on the Lake            83
Streeter Dr & Grand Ave-Millennium Park                76
Lake Shore Dr & North Blvd-Streeter Dr & Grand Ave     70
Name: routes_raw, dtype: int64

In [7]:
## Routes which are popular during weekends
df.query("dayweek in [5,6]")['routes_raw'].value_counts().head()

Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave     100
Streeter Dr & Grand Ave-Streeter Dr & Grand Ave        78
Lake Shore Dr & North Blvd-Streeter Dr & Grand Ave     74
Streeter Dr & Grand Ave-Lake Shore Dr & North Blvd     68
Streeter Dr & Grand Ave-Lake Shore Dr & Monroe St      66
Name: routes_raw, dtype: int64

In [8]:
## Routes visited early morning
df.query("hour in [0,1,2,3,4,5]")['routes_raw'].value_counts().head()

Canal St & Adams St-Franklin St & Chicago Ave               7
Aberdeen St & Jackson Blvd-LaSalle St & Jackson Blvd        5
Larrabee St & Oak St-Franklin St & Jackson Blvd             5
Canal St & Adams St-McClurg Ct & Erie St                    5
Clark St & Wellington Ave-Sheffield Ave & Wellington Ave    5
Name: routes_raw, dtype: int64

In [9]:
## Routes popular during morning hours
df.query("hour in [7,8,9,10]")['routes_raw'].value_counts().head()

Southport Ave & Wellington Ave-Sheffield Ave & Wellington Ave    37
Wacker Dr & Washington St-Michigan Ave & Washington St           29
Damen Ave & Foster Ave-Damen Ave & Leland Ave                    27
Clinton St & Madison St-LaSalle St & Jackson Blvd                26
Canal St & Adams St-Michigan Ave & Lake St                       24
Name: routes_raw, dtype: int64

In [10]:
## Routes popular during evening hours
df.query("hour in [17,18,19,20]")['routes_raw'].value_counts().head()

Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave     45
Streeter Dr & Grand Ave-Theater on the Lake           45
Streeter Dr & Grand Ave-Streeter Dr & Grand Ave       42
Streeter Dr & Grand Ave-Millennium Park               36
Lake Shore Dr & North Blvd-Streeter Dr & Grand Ave    36
Name: routes_raw, dtype: int64