In [1]:
import pandas as pd
from scipy.stats import f_oneway

In [2]:
df = pd.read_csv("car_data.csv")
df.head(2)

   Brands  Mileage
0  Apollo   32.998
1  Apollo   36.435

In [3]:
### Mileage and Brand
groups = []
for brand in df.Brands.unique():
    groups.append(df[df.Brands==brand]['Mileage'])

In [4]:
len(groups)

4

```
H0: Mileage and Car brand are not related
Ha: Mileage and Car brand are related
```

In [5]:
f_oneway(groups[0],groups[1],groups[2],groups[3])

F_onewayResult(statistic=17.941513342446925, pvalue=2.78098919789432e-08)

``` Conclusion
Computed p-value is very small so we reject the H0
````