In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/Gunnvant/Self-Paced-Content/main/python/live_sessions/stats_decision_making/notebooks/reddit.csv"

In [2]:
df = pd.read_csv(url)

In [3]:
df.head(2)

,register_index,post_id,comment_id,author,datetime,title,url,score,comments,text,author_post_karma,tag
0,145k12dpost,145k12d,NaN,SauloJr,2023-06-09 23:17:15,Reddit CEO Spez answered a grand total of 14 q...,https://www.reddit.com/r/technology/comments/1...,1.0,0.0,Reddit CEO Spez answered a grand total of 14 q...,44092.0,Social Media
1,145hyeyjnlh1vx,145hyey,jnlh1vx,Illustrious_Risk3732,2023-06-09 23:42:43,NaN,NaN,1.0,NaN,He even gives him self Awards to make sure he ...,17109.0,Social Media

**Took a sample and found out that there were 2500 comments in a day. Is the rate of posts per day 2500 or is it different**

In [4]:
df['datetime']=pd.to_datetime(df['datetime'])

In [5]:
df['date']=df['datetime'].dt.date

In [6]:
df['post_id'].unique().shape

(1265,)

In [7]:
df.shape[0]

115062

In [8]:
df.head()

,register_index,post_id,comment_id,author,datetime,title,url,score,comments,text,author_post_karma,tag,date
0,145k12dpost,145k12d,NaN,SauloJr,2023-06-09 23:17:15,Reddit CEO Spez answered a grand total of 14 q...,https://www.reddit.com/r/technology/comments/1...,1.0,0.0,Reddit CEO Spez answered a grand total of 14 q...,44092.0,Social Media,2023-06-09
1,145hyeyjnlh1vx,145hyey,jnlh1vx,Illustrious_Risk3732,2023-06-09 23:42:43,NaN,NaN,1.0,NaN,He even gives him self Awards to make sure he ...,17109.0,Social Media,2023-06-09
2,1453u2ojnjtk7f,1453u2o,jnjtk7f,ProdigiousPlays,2023-06-09 16:47:51,NaN,NaN,1.0,NaN,RIF already announced it s shutting down at th...,118844.0,Social Media,2023-06-09
3,1453u2ojnjtv9u,1453u2o,jnjtv9u,YJSubs,2023-06-09 16:49:52,NaN,NaN,1.0,NaN,I wonder which sub left on that day,50085.0,Social Media,2023-06-09
4,1453u2ojnjusm9,1453u2o,jnjusm9,jamnewton22,2023-06-09 16:55:57,NaN,NaN,1.0,NaN,Oh I m sure this will go well lol,171705.0,Social Media,2023-06-09

In [9]:
(df.groupby('date')['date'].count()).mean()

3835.4

In [10]:
## 3835 comments per day (belief from my whole data)
# H0: Avg rate is 3835 comments
# Ha: Avg rate is < 3835 comments
# pvalue: P(X<=2500|3835)
# P(X<=2500) PMF/CDF? (Poisson)
from scipy.stats import poisson

In [11]:
poisson.cdf(2500,3835) ### low p-value

1.379968577894847e-117

In [12]:
## Conclusion:
# H0 can be rejected,
# Avg rate is not 3835 comments per day, high chances it is less.

In [13]:
df.head(2)

,register_index,post_id,comment_id,author,datetime,title,url,score,comments,text,author_post_karma,tag,date
0,145k12dpost,145k12d,NaN,SauloJr,2023-06-09 23:17:15,Reddit CEO Spez answered a grand total of 14 q...,https://www.reddit.com/r/technology/comments/1...,1.0,0.0,Reddit CEO Spez answered a grand total of 14 q...,44092.0,Social Media,2023-06-09
1,145hyeyjnlh1vx,145hyey,jnlh1vx,Illustrious_Risk3732,2023-06-09 23:42:43,NaN,NaN,1.0,NaN,He even gives him self Awards to make sure he ...,17109.0,Social Media,2023-06-09

In [14]:
## Find out on an average how many words were there in each comment?
df[['post_id','comment_id','text']]

        post_id comment_id                                               text
0       145k12d        NaN  Reddit CEO Spez answered a grand total of 14 q...
1       145hyey    jnlh1vx  He even gives him self Awards to make sure he ...
2       1453u2o    jnjtk7f  RIF already announced it s shutting down at th...
3       1453u2o    jnjtv9u              I wonder which sub left on that day
4       1453u2o    jnjusm9                  Oh I m sure this will go well lol
...         ...        ...                                                ...
115057  14emafb    jox5jnn  juggle uppity concerned fade fanatical station...
115058  14emafb    jox5k2p                                   Just like Pyrex
115059  14emafb    joxjgso  It s really really deep  the titanic is in a d...
115060  14emafb    joxppiw  The ocean is huge  They look for people for ho...
115061  14emafb    jox6ifj  Small remaining pockets of air trapped in inst...

[115062 rows x 3 columns]

In [21]:
df_only_comments = df[~df['comment_id'].isnull()] ## True it means its not a comment

In [25]:
## Find out on an average how many words were there in each comment?
df_only_comments[['post_id','comment_id','text']]

        post_id comment_id                                               text
1       145hyey    jnlh1vx  He even gives him self Awards to make sure he ...
2       1453u2o    jnjtk7f  RIF already announced it s shutting down at th...
3       1453u2o    jnjtv9u              I wonder which sub left on that day
4       1453u2o    jnjusm9                  Oh I m sure this will go well lol
5       1453u2o    jnjvwlv  Oh boy i can t wait for him to say  the devs a...
...         ...        ...                                                ...
115057  14emafb    jox5jnn  juggle uppity concerned fade fanatical station...
115058  14emafb    jox5k2p                                   Just like Pyrex
115059  14emafb    joxjgso  It s really really deep  the titanic is in a d...
115060  14emafb    joxppiw  The ocean is huge  They look for people for ho...
115061  14emafb    jox6ifj  Small remaining pockets of air trapped in inst...

[113797 rows x 3 columns]

In [26]:
c1 = 'He even gives him self Awards to make sure he can t lose his karma from all the downvotes '

In [29]:
len("This is sentence".split(" "))

3

In [31]:
len(c1.split(" "))

20

In [32]:
def count_words(x):
    return len(x.split(" "))

In [34]:
df_only_comments['num_words']=df_only_comments['text'].map(count_words)

/var/folders/7h/01sjg2sx6tl3y72r2klm24c80000gn/T/ipykernel_44037/3176480113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_only_comments['num_words']=df_only_comments['text'].map(count_words)

In [36]:
## Find out on an average how many words were there in each comment?
df_only_comments[['post_id','comment_id','text','num_words']]['num_words'].mean()

42.03373551148097

In [37]:
### I took a sample and in that sample the number of words per comment were 46.
# H0: Average number of comments is 42
# Ha: Average is more than 42
# p-value: P(X>=46|Assuming that average is 42)
# Probability model to use: Poisson
# P(X>=46) = 1-P(X<=45)
1-poisson.cdf(45,42)

0.28833759445712315

In [38]:
## High p-value
## Conclusion: H0 can't be rejected

In [39]:
url1 = "https://raw.githubusercontent.com/Gunnvant/Self-Paced-Content/main/python/hypothesis_testing/global_temp.csv"
all_data = pd.read_csv(url1)

In [40]:
url2 = "https://raw.githubusercontent.com/Gunnvant/Self-Paced-Content/main/python/hypothesis_testing/recent_temp.csv"
recent = pd.read_csv(url2)

In [41]:
all_data.head()

        city   avg_temp
0    Sukhumi  15.116536
1  Mariehamn   7.336081
2     Tirana  16.496259
3    Algiers  19.524179
4  Pago Pago  27.298266

In [42]:
recent.head()

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
0,2021-01-01,Abkhazia,Sukhumi,43.001525,41.023415,8.6,5.4,14.9,81.0,9.4,1019.2
1,2021-01-02,Abkhazia,Sukhumi,43.001525,41.023415,8.5,4.0,13.7,47.0,7.7,1024.8
2,2021-01-03,Abkhazia,Sukhumi,43.001525,41.023415,7.8,5.0,12.9,57.0,8.2,1028.2
3,2021-01-04,Abkhazia,Sukhumi,43.001525,41.023415,7.6,3.8,14.3,83.0,10.5,1024.1
4,2021-01-05,Abkhazia,Sukhumi,43.001525,41.023415,8.9,5.2,15.1,91.0,13.5,1019.6

In [43]:
### What was the historical avg temp in New Delhi
all_data[all_data['city']=='New Delhi']

         city   avg_temp
73  New Delhi  26.133759

In [46]:
### Find out the recent avg temp in New Delhi
recent[recent['city']=='New Delhi']['tavg'].mean() ## Is this sample average?

25.87123287671233

In [47]:
### Difference in sample avg and population avg
## H0: Avg temp=26.133
## Ha: Avg temp<26.133
## P-value P(X<=25.971)
recent[recent['city']=='New Delhi']['tavg'].std() ## Std dev of sample

7.044814932408316

In [48]:
recent[recent['city']=='New Delhi']['tavg'].shape

(365,)

In [49]:
import math
7.044814932408316/math.sqrt(365) ## std of sampling distribution

0.3687424665843272

In [50]:
## P-value P(X<=25.971)
import scipy.stats as stats

In [51]:
stats.norm.cdf(25.971,26.133759,0.3687424665843272)

0.329465573164723

In [ ]:
## pvalue is high, we can't reject h0