In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/Gunnvant/Self-Paced-Content/main/python/live_sessions/stats_decision_making/notebooks/reddit.csv"

In [2]:
df = pd.read_csv(url)

In [3]:
df.head(2)

,register_index,post_id,comment_id,author,datetime,title,url,score,comments,text,author_post_karma,tag
0,145k12dpost,145k12d,NaN,SauloJr,2023-06-09 23:17:15,Reddit CEO Spez answered a grand total of 14 q...,https://www.reddit.com/r/technology/comments/1...,1.0,0.0,Reddit CEO Spez answered a grand total of 14 q...,44092.0,Social Media
1,145hyeyjnlh1vx,145hyey,jnlh1vx,Illustrious_Risk3732,2023-06-09 23:42:43,NaN,NaN,1.0,NaN,He even gives him self Awards to make sure he ...,17109.0,Social Media

**Took a sample and found out that there were 2500 comments in a day. Is the rate of posts per day 2500 or is it different**

In [5]:
df['datetime']=pd.to_datetime(df['datetime'])

In [9]:
df['date']=df['datetime'].dt.date

In [11]:
df['post_id'].unique().shape

(1265,)

In [12]:
df.shape[0]

115062

In [13]:
df.head()

,register_index,post_id,comment_id,author,datetime,title,url,score,comments,text,author_post_karma,tag,date
0,145k12dpost,145k12d,NaN,SauloJr,2023-06-09 23:17:15,Reddit CEO Spez answered a grand total of 14 q...,https://www.reddit.com/r/technology/comments/1...,1.0,0.0,Reddit CEO Spez answered a grand total of 14 q...,44092.0,Social Media,2023-06-09
1,145hyeyjnlh1vx,145hyey,jnlh1vx,Illustrious_Risk3732,2023-06-09 23:42:43,NaN,NaN,1.0,NaN,He even gives him self Awards to make sure he ...,17109.0,Social Media,2023-06-09
2,1453u2ojnjtk7f,1453u2o,jnjtk7f,ProdigiousPlays,2023-06-09 16:47:51,NaN,NaN,1.0,NaN,RIF already announced it s shutting down at th...,118844.0,Social Media,2023-06-09
3,1453u2ojnjtv9u,1453u2o,jnjtv9u,YJSubs,2023-06-09 16:49:52,NaN,NaN,1.0,NaN,I wonder which sub left on that day,50085.0,Social Media,2023-06-09
4,1453u2ojnjusm9,1453u2o,jnjusm9,jamnewton22,2023-06-09 16:55:57,NaN,NaN,1.0,NaN,Oh I m sure this will go well lol,171705.0,Social Media,2023-06-09

In [15]:
(df.groupby('date')['date'].count()).mean()

3835.4

In [ ]:
## 3835 comments per day (belief from my whole data)
# H0: Avg rate is 3835 comments
# Ha: Avg rate is < 3835 comments