In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/Gunnvant/Self-Paced-Content/main/python/live_sessions/stats_decision_making/notebooks/football_results.csv"

In [2]:
df = pd.read_csv(url)

In [4]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [9]:
### How many matches were played at a neutral venue?
df.query("neutral==True")['neutral'].count()

11037

In [12]:
df[df['neutral']==True].shape[0]

11037

In [20]:
### On an average what are the chances of a match happening in a neutral venue?
df.query("neutral==True")['neutral'].count()/df.shape[0]

0.24884449755371676

In [19]:
df.shape[0]

44353

In [24]:
### What are the chances that out of 16 matches, 6 will held in a neutral venue?
from scipy.stats import binom

In [25]:
binom.pmf(6,16,0.24884449755371676)

0.1087403799775794

In [26]:
### Create a column which talks about the total number of goals scored in each match
df['total_score']=df['home_score']+df['away_score']

In [27]:
df.head(2)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6

In [28]:
### Probability of seeing a match in which 5 or more goals are scored?
## num = # matches where the goals scored were more than or equal to 5?
## denom = total num matches

In [30]:
df.query("total_score>=5").shape[0]

8212

In [31]:
df.shape[0]

44353

In [32]:
df.query("total_score>=5").shape[0]/df.shape[0]

0.18515094807566568

In [34]:
### Create a python dictionary, the keys of the dict should be the number of goals, the value should be the number 
## matches in which those many goals have happened
## {0:3000,
#    1:415,
#    2:600,
#    }

df.query("total_score==0").shape[0]

3623

In [35]:
df.query("total_score==1").shape[0]

7707

In [36]:
df.query("total_score==2").shape[0]

9915

In [37]:
d = {}

In [38]:
d[0]=3623

In [39]:
d

{0: 3623}

In [40]:
df['total_score'].max()

31

In [41]:
max_goals=31

In [44]:
goals_dict = {}
for i in range(max_goals+1):
    num_matches = df.query(f"total_score=={i}").shape[0]
    goals_dict[i]=num_matches

In [48]:
goals_dict ## distribution

{0: 3623,
 1: 7707,
 2: 9915,
 3: 8765,
 4: 6131,
 5: 3765,
 6: 2044,
 7: 1111,
 8: 577,
 9: 308,
 10: 160,
 11: 85,
 12: 58,
 13: 31,
 14: 16,
 15: 13,
 16: 11,
 17: 9,
 18: 8,
 19: 5,
 20: 4,
 21: 2,
 22: 2,
 23: 0,
 24: 1,
 25: 0,
 26: 0,
 27: 0,
 28: 0,
 29: 0,
 30: 1,
 31: 1}

In [49]:
### If there is match, then the number of goals scored in a match, is a random variable?
## Discrete RV?
## Goals Scored Per Match->

In [51]:
### Tell me on an average how many goals are scored in a match?
## Total Number of Goals Scored in all the matches/Total Matches

In [52]:
num = df['total_score'].sum()

In [53]:
denom = df.shape[0]

In [54]:
avg_goals_per_match = num/denom

In [55]:
avg_goals_per_match

2.9193515658467297

In [57]:
### What is the prob of seeing exactly 6 goals in a match?
from scipy.stats import poisson

In [58]:
poisson.pmf(6,avg_goals_per_match)

0.04640102975116033

In [59]:
2044/df.shape[0] ###

0.046084819516154486

In [60]:
### In a match between Scotland and England, what are the chances of seeing upto 3 goals?
## Compute directly from data
## Find out how many matches were played between scotland and england?
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,3
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3

In [63]:
scotland_england = df.query("home_team in ('Scotland','England') and away_team in ('Scotland','England')")

In [65]:
scotland_england.head(2) ## In how many matches upto 3 goals were scored?

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6

In [67]:
scotland_england.query("total_score<=3").shape[0]

73

In [68]:
scotland_england.query("total_score<=3").shape[0]/scotland_england.shape[0]

0.6239316239316239

In [69]:
### Use poisson distribution, and find P(X<=3) when matches are played bw england and scotland?
## When england and scotland play matches what is the avg number goals scored per match

In [70]:
scotland_england['total_score'].sum()

382

In [71]:
scotland_england.shape[0]

117

In [72]:
382/117

3.264957264957265

In [73]:
poisson.cdf(3,3.264957264957265)

0.5880914528350946

In [74]:
df.shape[0]

44353

In [75]:
scotland_england.shape[0]

117