In [1]:
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
with open("../data/table.html") as f:
    d = f.read()
soup = BeautifulSoup(d,'html.parser')

In [3]:
soup

<table>
<tr>
<th>Company</th>
<th>Contact</th>
<th>Country</th>
</tr>
<tr>
<td>Alfreds Futterkiste</td>
<td>Maria Anders</td>
<td>Germany</td>
</tr>
<tr>
<td>Centro comercial Moctezuma</td>
<td>Francisco Chang</td>
<td>Mexico</td>
</tr>
</table>

In [4]:
### How can you parse the table?
soup.find_all("tr") ## this gives you each row, including the header row

[<tr>
 <th>Company</th>
 <th>Contact</th>
 <th>Country</th>
 </tr>,
 <tr>
 <td>Alfreds Futterkiste</td>
 <td>Maria Anders</td>
 <td>Germany</td>
 </tr>,
 <tr>
 <td>Centro comercial Moctezuma</td>
 <td>Francisco Chang</td>
 <td>Mexico</td>
 </tr>]

In [5]:
soup.find_all("tr")[1:] ## this excludes the header row, within each row are column values for that row

[<tr>
 <td>Alfreds Futterkiste</td>
 <td>Maria Anders</td>
 <td>Germany</td>
 </tr>,
 <tr>
 <td>Centro comercial Moctezuma</td>
 <td>Francisco Chang</td>
 <td>Mexico</td>
 </tr>]

In [6]:
soup.find_all("tr")[1:][0] ## column values in the first row

<tr>
<td>Alfreds Futterkiste</td>
<td>Maria Anders</td>
<td>Germany</td>
</tr>

In [7]:
soup.find_all("tr")[1:][0].find_all("td")

In [8]:
[x.text for x in soup.find_all("tr")[1:][0].find_all("td")]## row 1 values, we can loop over and extract all the row values

['Alfreds Futterkiste', 'Maria Anders', 'Germany']

In [12]:
dat=[]
for row in soup.find_all("tr")[1:]:
    vals = row.find_all("td")
    vals = [x.text for x in vals]
    dat.append(vals)

In [13]:
pd.DataFrame(dat)

                            0                1        2
0         Alfreds Futterkiste     Maria Anders  Germany
1  Centro comercial Moctezuma  Francisco Chang   Mexico

In [14]:
## How can we get column names?
soup.find_all("th")

In [15]:
cols = [x.text for x in soup.find_all("th")]

In [16]:
pd.DataFrame(dat,columns=cols)

                      Company          Contact  Country
0         Alfreds Futterkiste     Maria Anders  Germany
1  Centro comercial Moctezuma  Francisco Chang   Mexico