## Reading `json` data

In [1]:
import json

In [2]:
with open("sample.json","r") as f:
    string_data = f.read()
json_data = json.loads(string_data)

In [3]:
json_data[0]

{'page': 1,
 'pages': 1,
 'per_page': 5000,
 'total': 62,
 'sourceid': '2',
 'sourcename': 'World Development Indicators',
 'lastupdated': '2022-07-20'}

In [4]:
json_data[1][0:6]

[{'indicator': {'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (current US$)'},
  'country': {'id': 'IN', 'value': 'India'},
  'countryiso3code': 'IND',
  'date': '2021',
  'value': 3173397590816.91,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (current US$)'},
  'country': {'id': 'IN', 'value': 'India'},
  'countryiso3code': 'IND',
  'date': '2020',
  'value': 2667687951796.56,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (current US$)'},
  'country': {'id': 'IN', 'value': 'India'},
  'countryiso3code': 'IND',
  'date': '2019',
  'value': 2831552222519.99,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (current US$)'},
  'country': {'id': 'IN', 'value': 'India'},
  'countryiso3code': 'IND',
  'date': '2018',
  'value': 2702929718960.46,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (current US$)'},
  'country': {'id': 'IN', 'value': 'India'},
  'countryiso3code': 'IND',
  'date': '2017',
  'value': 2651472946374.91,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (current US$)'},
  'country': {'id': 'IN', 'value': 'India'},
  'countryiso3code': 'IND',
  'date': '2016',
  'value': 2294797980509.01,
  'unit': '',
  'obs_status': '',
  'decimal': 0}]

In [5]:
for row in json_data[1]:
    print(f"Date->{row['date']}, Value->{row['value']}")

Date->2021, Value->3173397590816.91
Date->2020, Value->2667687951796.56
Date->2019, Value->2831552222519.99
Date->2018, Value->2702929718960.46
Date->2017, Value->2651472946374.91
Date->2016, Value->2294797980509.01
Date->2015, Value->2103587813812.75
Date->2014, Value->2039127446298.55
Date->2013, Value->1856722121394.53
Date->2012, Value->1827637859135.7
Date->2011, Value->1823049927771.46
Date->2010, Value->1675615335600.56
Date->2009, Value->1341886602798.69
Date->2008, Value->1198895582137.51
Date->2007, Value->1216735441524.86
Date->2006, Value->940259888792.141
Date->2005, Value->820381595512.902
Date->2004, Value->709148514804.659
Date->2003, Value->607699285433.872
Date->2002, Value->514937948870.08
Date->2001, Value->485441014538.638
Date->2000, Value->468394937262.37
Date->1999, Value->458820417337.807
Date->1998, Value->421351477504.743
Date->1997, Value->415867753863.874
Date->1996, Value->392897054348.071
Date->1995, Value->360281952716.797
Date->1994, Value->327275583539.559
Date->1993, Value->279296022987.919
Date->1992, Value->288208430383.964
Date->1991, Value->270105341879.226
Date->1990, Value->320979026420.035
Date->1989, Value->296042354984.876
Date->1988, Value->296588994812.354
Date->1987, Value->279033584092.223
Date->1986, Value->248985994040.59
Date->1985, Value->232511877841.698
Date->1984, Value->212158234167.312
Date->1983, Value->218262273406.969
Date->1982, Value->200715145363.148
Date->1981, Value->193490610029.789
Date->1980, Value->186325345086.661
Date->1979, Value->152991653793.77
Date->1978, Value->137300295313.3
Date->1977, Value->121487322475.912
Date->1976, Value->102717164466.397
Date->1975, Value->98472796456.884
Date->1974, Value->99525899116.054
Date->1973, Value->85515269585.4
Date->1972, Value->71463193831.0092
Date->1971, Value->67350988021.3932
Date->1970, Value->62422483054.6667
Date->1969, Value->58447995017.3333
Date->1968, Value->53085455870.6667
Date->1967, Value->50134942204
Date->1966, Value->45865462034.2857
Date->1965, Value->59554854575.8085
Date->1964, Value->56480289940.9899
Date->1963, Value->48421923459.1235
Date->1962, Value->42161481858.0819
Date->1961, Value->39232435784.0358
Date->1960, Value->37029883876.1839

## Writting json data

In [6]:
sample_dict = [{"name":"randy","age":31},
              {"name":"sandy","age":29}]

In [7]:
with open("samplejson_write.json","w") as f:
    json.dump(sample_dict,f)